:root {
  --background: #121212;
  --foreground: #f5eded;
  --primary: #6790ff;
  --primary-hover: #3d6beb;
  --primary-visited: #ed67ff;
}

html {
  background-color: var(--background);
  color: var(--foreground);
}

a {
  color: var(--primary);
  text-underline-offset: 4px;
}

a:visited {
  color: var(--primary-hover);
}

a:hover {
  color: var(--primary-visited);
}